body {
	font-family: Verdana, Arial, sans-serif;
	background: #5b5b5b;
	float-size:10px;
}

#container {
	width: 760px;
	margin:0 auto;
	background: #fff;
	border: #fff 10px solid;
}

#logo_banner {
	width: auto;
	background: #fff;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 5px;
}

#title {
	width: auto;
	background: #55BBE8;
	padding: 4px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
	height: 16px;
}

#title .text {
	float:none;
	width: 570px;
	text-align: right;
}

#main_content {
	width: 760px;
}

#menu {
	float: left;
	width: 150px;
	padding-right: 5px;
}
div.oval_shadow {
	float: left;
	width: 150px;
	padding-right: 5px;
	height: 16px;
	background: #DFDFDF;
	border-radius: 100%;
	margin-top: 24px;
}

#menu a {
	width: 145px;
	display: block;
	background: #55BBE8;
	color: white;
	padding: 5px;
	font-weight: bold;
	border-bottom: 2px solid #fff;
	text-decoration: none;
	border-radius: 8px;
	
	transition: background 0.2s linear 0s, color 0.3s linear 0s;
}

#menu a:hover {
	background: #11CFFF;
}

#content {
	width: 590px;
	float: right;
	padding-left:10px;
	padding-right: 5px;
	
}
#table {
font-weight:normal;
}
#table  body{
font-weight:normal;
}
#content a {
	color: #c00;
	text-decoration: none;
	font-weight:normal;
}

#content a:hover {
	color: #d33;
	text-decoration: underline;
}

#content h1 {
	margin-top: 0px;
}

#footer {
	clear: both;
	width: auto;
	font-size: 0.8em;
	color: #666;
	text-align: center;
	margin: 10px 50px 0 50px;
	padding-top: 10px;
	border-top: 1px dotted #666;
}



#page td {
	font-size: 10pt;
}


#status {
	width: 175px;
	float: right;
	padding: 10px;
	margin: 10px;
	border: 1px dotted #666;
	font-weight: bold;
}

#status p {
	padding: 5px 0 5px 10px;
	text-indent: -10px;
	margin: 0;
}
input[type=range].vHorizon {
    -webkit-appearance: none;
    background-color: pink;
    width: 200px;
    height:10px;
}
input[type=range].vVertical {
    -webkit-appearance: slider-vertical;
    background-color: pink;
    width: 50px;
    height:200px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: red;
    width: 20px;
    height: 20px;
}
#cpBtn {
    align: center;  
    width: 130px;
    height: 24px;
    background: linear-gradient(#FFF,#DDD);
    border: #AAA 1 px solid;
    border-radius: 2px;
    padding: 2px 5px;
    cursor: pointer;
}
#cpBtn > div{
    width: 40px;
    height: 4px;
    background: #333;
    margin: 3px 0px;
    border-radius: 4px;
    transition: background 0.3s ease 0s;
}
#cpBtn:hover{
  
    background: #55BBE8;
}
#cpBtn:hover div{
  
  background: #FFFFFF;
}

.examplebox {
	margin:10px 40px 10px 40px;
	padding: 8px;
	border: 1px dotted #333;
	text-align:center;
	background:#ddd;
}

.code {
	font-family: Courier New, Courier, fixed-width, fixed;
}

.exercise {
	background: #fe9;
	padding: 5px;
	margin-left: 10px;
	border-left: 2px solid #eb3;
}

.error {
	margin-left: 10px;
	padding: 10px;
	background: #fdd;
	border-left: 2px solid #900;
}

#content h6 {
	border-top: 1px dashed #333;
	margin: 15px;
	padding: 0px;
	height: 1px;
}

.examplebox td {
	text-align:left;
	padding-right: 15px;
}

fieldset {
	margin:10px 40px 10px 40px;
	padding: 8px;
	border: 1px dotted #333;
	background:#ddd;
}

fieldset div {
	padding: 2px 0px 2px 150px;
}

fieldset div label {
	margin-left: -140px;
	padding-top: 2px;
	width: 135px;
	font-weight: bold;
	position: absolute;
}

fieldset input {
	width: 250px;
}

fieldset input.sm {
	width: auto;
}

fieldset textarea {
	width: 100px;
}

scan_label{
width:100px;
    float:left;
}

.result {
	margin: 10px 40px 10px 40px;
	padding: 8px;
	border: 1px solid #333;
	text-align: center;
	font-weight: bold;
	background: #eee;
}

.ok {
	border-color: #6b6;
	background: #efe;
}

.fail {
	border-color: #b66;
	background: #fee;
}

.unk {
	border-color: #cc6;
	background: #ffd;
}
